#assistants {
  position: absolute;
  left: 100px;
  width: 140px;
  height: 100%;
  transition: transform 0.2s ease-out;
  transition-delay: 250ms;
}

#assistants.out--left {
  transform: translateX(-400px);
}

#assistants img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1.15);
}