#desk {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/desk/surface.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: transform 0.2s ease-out;
}

#desk.out--left {
  transform: translateX(-1920px);
}

#desk.out--right {
  transform: translateX(1920px);
}

.physical--item {
  transition: transform 0.2s ease-out;
}

.physical--item .bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 1px 3px rgb(97, 82, 75));
  transition: filter 0.2s ease-out;
}

.physical--item:not(.no--hover):hover,
.physical--item.force--hover {
  transform: scale(1.05) translateY(-5px) !important;
  z-index: 3;
}

.physical--item:not(.no--hover):hover .bgimg,
.physical--item.force--hover .bgimg {
    filter: drop-shadow(0 3px 6px rgb(97, 82, 75));
}

#letter {
  position: absolute;
  left: 590px;
  top: 350px;
  width: 745px;
  height: 348px;
}
#letter #detective-name {
  position: absolute;
  top: 52px;
  left: 338px;
  width: 114px;
  border: 0 none;
  background: transparent;
  color: #0f3c54;
  font-size: 24px;
}
#letter #detective-name:focus {
  outline: none;
}

#letter-police {
  position: absolute;
  left: 1090px;
  top: 50px;
  width: 719px;
  height: 993px;
}

#letter-police .content {
  z-index: 2;
  position: relative;
  line-height: 0.95em;
  font-size: 21px;
}

#letter.aside {
  transform: translate(-220px, -50px) rotate(-10deg);
}
#letter.aside .button {
  display: none;
}

#letter-police.out {
  transform: translateX(70vw) rotate(30deg);
}

#letter .button {
  position: absolute;
  top: 234px;
  left: 275px;
  opacity: 0;
}

#letter:hover .button {
  opacity: 1;
}

#photo-seccam {
  position: absolute;
  left: 100px;
  top: 450px;
  width: 900px;
  height: 522px;
  transform: rotate(5deg);
}

#photo-seccam .clue {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 29px;
  width: 174px;
}